<ion-popover-view class="fbPop1">
	<ion-header-bar >
      <h3 class="title"> Say your saying...<span><img src="img/googlePlusLogo4.jpg" /></span> </h3>
	  
    </ion-header-bar>
	
        <ion-content >
		<div class="list">
			
		  <div class="item item-input-inset">
			<label class="item-input-wrapper">
			  <input type="text" placeholder="I'm counting on..." ng-model="mySaying">
			</label>
			<button class="button button-small" ng-click="googleLogin(mySaying)">
			  Post
			</button>
		  </div>

		</div>
	 </ion-content>
</ion-popover-view>