<ion-popover-view class="venuePop">
	<!--<ion-header-bar >
      <h1 class="title">Venue Starts With...</h1>
    </ion-header-bar> -->
	
	<ion-content>
          <div class="list">
		  <a class="item" ng-click="launchVenueMap();" > 
		  <span>View on Map</span>
		</a>
		  </div>
	</ion-content>
        <!--<ion-content>
          <div class="list">
			  
			
		<a class="item" ng-click="changeVenueLetter('A');" > 
		  <span>A</span>
		</a>
		<a class="item" ng-click="changeVenueLetter('B');" > 
		  <span>B</span>
		</a>
		<a class="item" ng-click="changeVenueLetter('C');" > 
		  <span>C</span>
		</a>
		<a class="item" ng-click="changeVenueLetter('D');" > 
		  <span>D</span>
		</a>
		<a class="item" ng-click="changeVenueLetter('E');" > 
		  <span>E</span>
		</a>
		<a class="item" ng-click="changeVenueLetter('F');" > 
		  <span>F</span>
		</a>
		<a class="item" ng-click="changeVenueLetter('G');" > 
		  <span>G</span>
		</a>
		<a class="item" ng-click="changeVenueLetter('H');" > 
		  <span>H</span>
		</a>
		<a class="item" ng-click="changeVenueLetter('I');" > 
		  <span>I</span>
		</a>
		<a class="item" ng-click="changeVenueLetter('J');" > 
		  <span>J</span>
		</a>
		<a class="item" ng-click="changeVenueLetter('K');" > 
		  <span>K</span>
		</a>
		<a class="item" ng-click="changeVenueLetter('L');" > 
		  <span>L</span>
		</a>
		<a class="item" ng-click="changeVenueLetter('M');" > 
		  <span>M</span>
		</a>
		<a class="item" ng-click="changeVenueLetter('N');" > 
		  <span>N</span>
		</a>
		<a class="item" ng-click="changeVenueLetter('O');" > 
		  <span>O</span>
		</a>
		<a class="item" ng-click="changeVenueLetter('P');" > 
		  <span>P</span>
		</a>
		<a class="item" ng-click="changeVenueLetter('Q');" > 
		  <span>Q</span>
		</a>
		<a class="item" ng-click="changeVenueLetter('R');" > 
		  <span>R</span>
		</a>
		<a class="item" ng-click="changeVenueLetter('S');" > 
		  <span>S</span>
		</a>
		<a class="item" ng-click="changeVenueLetter('T');" > 
		  <span>T</span>
		</a>
		<a class="item" ng-click="changeVenueLetter('U');" > 
		  <span>U</span>
		</a>
		<a class="item" ng-click="changeVenueLetter('V');" > 
		  <span>V</span>
		</a>
		<a class="item" ng-click="changeVenueLetter('W');" > 
		  <span>W</span>
		</a>
		<a class="item" ng-click="changeVenueLetter('X');" > 
		  <span>X</span>
		</a>
		<a class="item" ng-click="changeVenueLetter('Y');" > 
		  <span>Y</span>
		</a>
		<a class="item" ng-click="changeVenueLetter('Z');" > 
		  <span>Z</span>
		</a>
			
          </div>
        </ion-content> -->
      </ion-popover-view>
	  
	  
	  
	  <!--<div class="modal">
  <ion-header-bar class="bar-positive">
    <h1 class="title">Please select letter</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeAZCountry()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
	  <div class="list">
		<a class="item" ng-click="changeVenueLetter('A');" > 
		  <span>A</span>
		</a>
		<a class="item" ng-click="changeVenueLetter('B');" > 
		  <span>B</span>
		</a>
		<a class="item" ng-click="changeVenueLetter('C');" > 
		  <span>C</span>
		</a>
		<a class="item" ng-click="changeVenueLetter('D');" > 
		  <span>D</span>
		</a>
		<a class="item" ng-click="changeVenueLetter('E');" > 
		  <span>E</span>
		</a>
		<a class="item" ng-click="changeVenueLetter('F');" > 
		  <span>F</span>
		</a>
		<a class="item" ng-click="changeVenueLetter('G');" > 
		  <span>G</span>
		</a>
		<a class="item" ng-click="changeVenueLetter('H');" > 
		  <span>H</span>
		</a>
		<a class="item" ng-click="changeVenueLetter('I');" > 
		  <span>I</span>
		</a>
		<a class="item" ng-click="changeVenueLetter('J');" > 
		  <span>J</span>
		</a>
		<a class="item" ng-click="changeVenueLetter('K');" > 
		  <span>K</span>
		</a>
		<a class="item" ng-click="changeVenueLetter('L');" > 
		  <span>L</span>
		</a>
		<a class="item" ng-click="changeVenueLetter('M');" > 
		  <span>M</span>
		</a>
		<a class="item" ng-click="changeVenueLetter('N');" > 
		  <span>N</span>
		</a>
		<a class="item" ng-click="changeVenueLetter('O');" > 
		  <span>O</span>
		</a>
		<a class="item" ng-click="changeVenueLetter('P');" > 
		  <span>P</span>
		</a>
		<a class="item" ng-click="changeVenueLetter('Q');" > 
		  <span>Q</span>
		</a>
		<a class="item" ng-click="changeVenueLetter('R');" > 
		  <span>R</span>
		</a>
		<a class="item" ng-click="changeVenueLetter('S');" > 
		  <span>S</span>
		</a>
		<a class="item" ng-click="changeVenueLetter('T');" > 
		  <span>T</span>
		</a>
		<a class="item" ng-click="changeVenueLetter('U');" > 
		  <span>U</span>
		</a>
		<a class="item" ng-click="changeVenueLetter('V');" > 
		  <span>V</span>
		</a>
		<a class="item" ng-click="changeVenueLetter('W');" > 
		  <span>W</span>
		</a>
		<a class="item" ng-click="changeVenueLetter('X');" > 
		  <span>X</span>
		</a>
		<a class="item" ng-click="changeVenueLetter('Y');" > 
		  <span>Y</span>
		</a>
		<a class="item" ng-click="changeVenueLetter('Z');" > 
		  <span>Z</span>
		</a>
	  </div>
	</ion-content>
</div>



<ion-popover-view>
	
</ion-popover-view>
-->