<ion-view view-title="Calendar View" >
	
	<ion-nav-bar class="bar-stable" hide-back-button=false>
	  <ion-nav-buttons side="left" >
         
		<button class="button button-icon icon ion-ios-keypad-outline customSize" ng-click="menuToggle()">
        </button>
		
		
	</ion-nav-buttons>
	 <ion-nav-buttons side="right">
		 <button class="button button-icon icon ion-ios-plus-outline customSize" ng-click="morePopover.show($event)"></button> 
		 
    </ion-nav-buttons>
	
</ion-nav-bar>	
	
	<ion-header-bar class="bar-subheader " >
  
	   <button ng-click="previousMonth()"
	  class="button button-small button-positive"
	  mwl-date-modifier
	  date="calendarDay"
	  decrement="calendarView">
	  <<
	</button>
<!--<span class="title">
	<button 
	  class="button button-small button-energized calHeaderDiv"
	  mwl-date-modifier
	  date="calendarDay"
	  set-to-today>
	  Today
	</button>
</span> -->
 <span class="title">
	<p class=" calHeaderDivText" >
	  {{calendarTitle}}
	</p>
</span>
	<button ng-click="nextMonth()"
	  class="button button-small button-positive pull-right"
	  mwl-date-modifier
	  date="calendarDay"
	  increment="calendarView">
	  >>
	</button>
	
  </ion-header-bar> 
  
        <ion-content has-header="true" has-footer="true" class="calendarView">
		
			
		   <div  >
		 
		<mwl-calendar
		id="calView"
        view="calendarView"
        current-day="calendarDay"
        view-title="calendarTitle"
		on-event-click="eventClicked(calendarEvent)"
		on-drill-down-click="drillDownClicked"
		events="events.data"
        auto-open="false"
		cell-is-open="false"
		
		>
		
    </mwl-calendar> 
	 </div> 
		 
	 </ion-content>
	 <ion-footer-bar >
		
		<div class="eventful-badge2 eventful-small2" >
			<span >
			
				 <img src="http://api.eventful.com/images/powered/eventful_58x20.gif" class="animated rubberBand" ></img>
			
			
				<p ng-click="goToUrl('http://eventful.com/')">Events by Eventful</p>
				
			</span>
			</div>	
		<!--icon="ion-loading-a" -->
		<div class="title">
			
			
		</div>
		<div class="buttons eventful-badge eventful-small">
			<span>
			<p>Current {{searchBy}}</p>
			</span>
		</div>
		<!-- <div class="buttons eventful-badge eventful-small"  >
			<span>
			<a href="http://eventful.com/">
				 <img src="http://api.eventful.com/images/powered/eventful_58x20.gif" class="animated rubberBand">
			</a>
			
				<p>Events by Eventful</p>
				
			</span>
			</div>	-->
	</ion-footer-bar>
	
		
</ion-view> 