<ion-view view-title="Hot Event Categories" class="no-js">
	
	<ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-keypad-outline customSize" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    <ion-nav-buttons side="right">
		 <button class="button button-icon icon ion-ios-plus-outline customSize" ng-click="morePopover.show($event)"></button> 
		 
    </ion-nav-buttons>
	
  <ion-content class="has-header">
    
	<!--<ion-list >
      <ion-item ng-repeat="category in categories" class="no-margin-cat" > <!--href="#/app/categories/{{category.title}}-->
		<!--<div ng-click="redirect(category.title)" style="background-image: url('img/{{category.title}}.jpg');" class="divCat">    
					<h3 style="color:white">{{category.title}}</h3>
			
		</div>	
      </ion-item>
    </ion-list> -->
	<div class="container">
	<section id="photostack-3" class="photostack">
				<div>
					
					<figure>
						<a href="#" class="photostack-img" ng-click="redirect('Sports')"><img src="img/Sports.jpg" />
						<figcaption>
							<p class="photostack-title">Sports</p>
							<div class="photostack-back">
								<p>Search upcoming and ongoing sport events in {{place}}</p>
							</div>
						</figcaption>
						</a>
					</figure>
					<figure>
						<a href="#" class="photostack-img" ng-click="redirect('Music')"><img src="img/Music.jpg" />
						
						<figcaption>
							<p class="photostack-title">Music</p>
							<div class="photostack-back">
								<p>Search upcoming and ongoing music and concert events in {{place}}</p>
							</div>
						</figcaption>
						</a>
					</figure>
					
					<figure>
						<a href="#" class="photostack-img" ng-click="redirect('Film')"><img src="img/Film.jpg" />
						
						<figcaption>
							<p class="photostack-title">Film</p>
							<div class="photostack-back">
								<p>Search upcoming and ongoing film and theatre events in {{place}}</p>
							</div>
						</figcaption>
						</a>
					</figure>
					
					
					<figure>
						<a href="#" class="photostack-img" ng-click="redirect('Performing Arts')"><img src="img/Arts.jpg" />
						
						<figcaption>
							<p class="photostack-title">Arts</p>
							<div class="photostack-back">
								<p>Search upcoming and ongoing art and performance events in {{place}}</p>
							</div>
						</figcaption>
						
						</a>
					</figure>
					<figure>
						<a href="#" class="photostack-img" ng-click="redirect('Comedy')"><img src="img/Comedy.jpg" />
						
						<figcaption>
							<p class="photostack-title">Comedy</p>
							<div class="photostack-back">
								<p>Search upcoming and ongoing stand up comedy events in {{place}}</p>
							</div>
						</figcaption>
						</a>
					</figure>
					<figure>
						<a href="#" class="photostack-img" ng-click="redirect('Festivals')"><img src="img/Festival.jpg" />
						
						<figcaption>
							<p class="photostack-title">Festivals</p>
							<div class="photostack-back">
								<p>Search upcoming and ongoing festival events in {{place}}</p>
							</div>
						</figcaption>
						</a>
					</figure>
					<figure>
						<a href="#" class="photostack-img" ng-click="redirect('Holiday')"><img src="img/Holidays.jpg" />
						
						<figcaption>
							<p class="photostack-title">Holidays</p>
							<div class="photostack-back">
								<p>Search upcoming and ongoing holiday events in {{place}}</p>
							</div>
						</figcaption>
						</a>
					</figure>
					<figure>
						<a href="#" class="photostack-img" ng-click="redirect('Finance')"><img src="img/Finance.jpg"/>
						
						<figcaption>
							<p class="photostack-title">Finance</p>
							<div class="photostack-back">
								<p>Search upcoming and ongoing finance events in {{place}}</p>
							</div>
						</figcaption>
						</a>
					</figure>
					<figure>
						<a href="#" class="photostack-img" ng-click="redirect('Technology')"><img src="img/Technology.jpg" />
						
						<figcaption>
							<p class="photostack-title">Technology</p>
							<div class="photostack-back">
								<p>Search upcoming and ongoing technology events in {{place}}</p>
							</div>
						</figcaption>
						</a>
					</figure>
					<!--<figure>
						<a href="#" class="photostack-img" ng-click="redirect('Politics')"><img src="img/Politics.jpg" />
						
						<figcaption>
							<p class="photostack-title">Politics</p>
							<div class="photostack-back">
								<p>Search upcoming and ongoing political events in {{place}}</p>
							</div>
						</figcaption>
						</a>
					</figure> -->
				</div>
			</section>
			</div>
			
			
  </ion-content>
</ion-view>
