<ion-popover-view>
	<ion-header-bar >
      <h1 class="title">Country Starts With...</h1>
    </ion-header-bar>
	
        <ion-content>
          <div class="list">
			  
			
		<a class="item" ng-click="changeCountryLetter('A');" > 
		  <span>A</span>
		</a>
		<a class="item" ng-click="changeCountryLetter('B');" > 
		  <span>B</span>
		</a>
		<a class="item" ng-click="changeCountryLetter('C');" > 
		  <span>C</span>
		</a>
		<a class="item" ng-click="changeCountryLetter('D');" > 
		  <span>D</span>
		</a>
		<a class="item" ng-click="changeCountryLetter('E');" > 
		  <span>E</span>
		</a>
		<a class="item" ng-click="changeCountryLetter('F');" > 
		  <span>F</span>
		</a>
		<a class="item" ng-click="changeCountryLetter('G');" > 
		  <span>G</span>
		</a>
		<a class="item" ng-click="changeCountryLetter('H');" > 
		  <span>H</span>
		</a>
		<a class="item" ng-click="changeCountryLetter('I');" > 
		  <span>I</span>
		</a>
		<a class="item" ng-click="changeCountryLetter('J');" > 
		  <span>J</span>
		</a>
		<a class="item" ng-click="changeCountryLetter('K');" > 
		  <span>K</span>
		</a>
		<a class="item" ng-click="changeCountryLetter('L');" > 
		  <span>L</span>
		</a>
		<a class="item" ng-click="changeCountryLetter('M');" > 
		  <span>M</span>
		</a>
		<a class="item" ng-click="changeCountryLetter('N');" > 
		  <span>N</span>
		</a>
		<a class="item" ng-click="changeCountryLetter('O');" > 
		  <span>O</span>
		</a>
		<a class="item" ng-click="changeCountryLetter('P');" > 
		  <span>P</span>
		</a>
		<a class="item" ng-click="changeCountryLetter('Q');" > 
		  <span>Q</span>
		</a>
		<a class="item" ng-click="changeCountryLetter('R');" > 
		  <span>R</span>
		</a>
		<a class="item" ng-click="changeCountryLetter('S');" > 
		  <span>S</span>
		</a>
		<a class="item" ng-click="changeCountryLetter('T');" > 
		  <span>T</span>
		</a>
		<a class="item" ng-click="changeCountryLetter('U');" > 
		  <span>U</span>
		</a>
		<a class="item" ng-click="changeCountryLetter('V');" > 
		  <span>V</span>
		</a>
		<a class="item" ng-click="changeCountryLetter('W');" > 
		  <span>W</span>
		</a>
		<a class="item" ng-click="changeCountryLetter('X');" > 
		  <span>X</span>
		</a>
		<a class="item" ng-click="changeCountryLetter('Y');" > 
		  <span>Y</span>
		</a>
		<a class="item" ng-click="changeCountryLetter('Z');" > 
		  <span>Z</span>
		</a>
			
          </div>
        </ion-content>
      </ion-popover-view>
	  
	  
	  
	  